<!DOCTYPE HTML>
 
<html>
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>
     
<body>
<!-- give a suitable heading using h1 tag-->
        <h1>INCREMENT AND DECREMENT COUNTER</h1>
        <p>{{ .Username }}</p>
    
        <div class="container">            
        <!-- adding button and heading to show the digits -->
        <!--increment() and decrement() functions on button click-->
            <button onclick="increment()">+</button>
            <h2 id="counting"></h2>
            <button onclick="decrement()">-</button>        
        </div>
 
</body>
 
</html>